body {
  margin: auto;
  overflow-x: hidden;
}


#uphead{
  /* box-sizing: border-box; */
  /* position: relative; */
  padding-top: 70px;
  padding-bottom: 70px;
  background: linear-gradient(to bottom, #041D71 0%, #7F8FA3 100%);
  /* margin-top: 25px;
  margin-bottom: 50px; */
  /* margin-right: -9999rem; */
  margin-right: -50px;
  /* 헤더 빈자리 안보이도록 */
  /* margin: 0 -9999rem; */
  /* add back section padding value */
  padding-right: .25rem 9999rem;
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 70px;

}

div.topbtngroup{
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 100%;
  clear: both;
  /* overflow auto로 설정하면 버튼을 스크롤로 보여줌 */
}

#homebtn {
  outline:none;
  cursor: pointer;
  /* float: left; */
  font-family: Tahoma;
  font-size: 21px;
  letter-spacing: 0px;
  word-spacing: -1px;
  font-weight: 700;
  border: none;
  background: none;
  color: #002642;
  float: left;
}

#cssmenu{
  float: right;
}

.topbtngroup button:hover {
    text-shadow: 2px 2px 2px #969696;
}

#cssmenu a :hover{
  text-shadow: 2px 2px 2px #969696;
}

#cssmenu ul,
#cssmenu li {
  position: relative;
  background: none;
  border: none;
  color: #002642;
  letter-spacing: 0px;
  word-spacing: -1px;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#cssmenu span,
#cssmenu a {
  position: relative;
  margin: 0;
  padding: 0;
}

#cssmenu:after{
  content: '';
  display: block;
  /* clear: both; */
  }
#cssmenu ul:after {
  content: '';
  display: block;
}
#cssmenu a {
  color: #333333;
  display: inline-block;
  font-family: Tahoma;
  font-size: 12px;
  min-width: 35px;
  text-align: center;
  text-decoration:none;
}

#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  float: right;
}
#cssmenu > ul > li a {
  /* box-shadow: inset 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 0 1px #ffffff;
  -webkit-box-shadow: inset 0 0 0 1px #ffffff;
  background: #bfbfbf url(images/grad_light.png) repeat-x left top;
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #e5e5e5), color-stop(51%, #d7d7d7), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 50%, #d7d7d7 51%, #ededed 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  border-bottom: 1px solid #d2d2d2;
  border-top: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2; */
  background: white;
  border : none;
  line-height: 34px;
  padding: 0 35px;
  filter: none;
}
/* #cssmenu > ul > li a:hover {
  background: #ffffff url(images/grad_light.png) repeat-x left bottom;
  background: -moz-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d9d9d9), color-stop(50%, #bfbfbf), color-stop(51%, #b0b0b0), color-stop(100%, #c7c7c7));
  background: -webkit-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
  background: -o-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
  background: -ms-linear-gradient(top, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
  background: linear-gradient(to bottom, #d9d9d9 0%, #bfbfbf 50%, #b0b0b0 51%, #c7c7c7 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  filter: none;
} */
#cssmenu > ul > li:first-child a {
  /* border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px; */
  border-left: 1px solid none;
}
#cssmenu > ul > li:last-child a {
  /* border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0; */
}

#cssmenu .has-sub:hover ul{
    display: block;
}

#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  top: 36px;
  left: -1px;
  min-width: 100%;
  text-align: center;
  *width: 100%;
}
#cssmenu .has-sub ul li {
  text-align: center;
}
#cssmenu .has-sub ul li a {
  border-top: 1px none;
  border-left: 1px solid none;
  display: block;
  background-color: #3C667C;
  font-size: 11px;
  line-height: 120%;
  padding: 9px 5px;
  text-align: center;
}
#cssmenu .has-sub ul li a :hover {
  text-shadow: none;
  display: block;
  background-color: #44738C;
  line-height: 120%;
  padding: 9px 5px;
  border-color: #44738C;
  /* 버튼후버효과 좀 다른걸로 바꾸기?? */
}

#cssmenu ul :hover{
  border-top-style: solid;
  border-top-color: #3C667C;
    /* text-shadow: 2px 2px 2px #969696; */
}
#cssmenu li :hover{
  border: none;
}
.topbtngroup :after{
  content: '';
  display: block;
  clear: both;
}

#only{
 display: none;
}
/* 헤더 관계자페이지버튼 평소에는 안보여요~*/
